.main {
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 30vw;
  width: 30%;
  padding: 4rem 2.5rem;
  border: 1px solid red;
  border-radius: 1.5rem;

  > .header {
    line-height: 1.7;
    margin-bottom: 1.5rem;
  }

  > .footer {
    margin-top: 1.5rem;
  }
}
