.main {
  grid-column: 1 / span 2;
  align-content: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 30vw;
  width: 30%;
  padding: 4rem 2.5rem;
  border: 1px solid var(--colorBg);
  border-radius: 1.5rem;
  margin: auto;
  background-color: var(--borderColor);

  > .header {
    line-height: 1.7;
    margin-bottom: 1.5rem;
  }

  > .header > .lead {
    color: var(--colorGrey3);
  }

  > .footer {
    margin-top: 1.5rem;
    color: var(--colorGrey3);
  }

  > .footer > .signupLink {
    color: var(--colorGreenDark);
    font-weight: 800;
  }
}
