:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --colorBg: #252525;
    --colorBg2: #212121;
    --colorBg3: #181818;
    --colorBg4: #1a1a1a;
    --colorButton: #3a3b3c;
    --colorDanger: #fe6854;
    --colorFontPrimary: #e5e7eb;
    --colorTextSecondary: #b0b3b8;
    --colorTextPrimary: #ffffff;
    --colorTextLight: #f8f8f8;
    --colorbackground: #fbfbfd;
    --colorGradient: linear-gradient(110.42deg, #cf57a3 29.2%, #4731b6, 63.56%);
    --colorGreenDark: #27ae60;
    --colorGreenLight: #dbe1e8;
    --activeNavLink: rgba(249, 249, 249, 0.08);
    --activeNavLinkHover: rgba(249, 249, 249, 0.03);
    --colorPrimary: #7263f3;
    --colorPrimary2: #705df2;
    --colorGreyDark: #131313;
    --colorGrey0: #f8f8f8;
    --colorGrey1: #dbe1e8;
    --colorGrey2: #b2becd;
    --colorGrey3: #6c7983;
    --colorGrey4: #454e56;
    --colorGrey5: #2a2e35;
    --colorGrey6: #12181b;
    --colorWhite: #fff;
    --colorPrimaryGreen: #6fcf97;
    --borderColor: rgba(249, 249, 249, 0.08);
    --borderColor2: rgba(249, 249, 249, 0.08);
    --shadow7: 1px 7px 12px rgba(8, 18, 69, 0.1);
    --sidebarWidth: 15rem;
    --sidebarCollapsed: 5.4rem;
    --fH4: 19px;
    --fontSmall: 14px;
    --fontSmall2: 15px;
    --gridGap: 2rem;
    --padLRSm: 0 2rem;
    --colorIcons: rgba(249, 249, 249, 0.35);
    --colorIcons2: rgba(249, 249, 249, 0.75);
    --colorIcons3: rgba(249, 249, 249, 0.08);
    --colorIcons4: rgba(0, 0, 0, 0.3);
    --marLRSm: 0 1rem;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
