.tasksContainer {
  width: 100%;
  background-color: var(--colorBg2);
  border: 2px solid var(--borderColor);
  border-radius: 1rem;
  padding: 2rem;
  overflow-y: auto;
  height: 100%;

  // set scrollbar width for different engines
}
