.default {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  font-weight: 800;
  background-color: var(--colorGreenDark);
  border: 1px solid var(--colorGreenDark);
  cursor: pointer;
}
